<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'home' %}">
            <i class="fa-solid fa-user-check me-1"></i> Panel de Preceptor
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'planilla_preceptor' %}">
            <i class="fa-solid fa-clipboard-check me-1"></i> Asistencia
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'lista_comunicados' %}">
            <i class="fa-solid fa-bullhorn me-1"></i> Comunicados
        </a>
    </li>
</ul>
