<ul class="navbar-nav mx-auto">
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'listado_alumnos' %}active{% endif %}" 
           href="{% url 'listado_alumnos' %}">Alumnos</a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" href="{% url 'listado_profesor' %}">Docentes</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'lista_cargos' %}">Cargos</a>
    </li>

     <li class="nav-item">
        <a class="nav-link" href="{% url 'lista_calificaciones' %}">Calificaciones</a>
    </li>

     <li class="nav-item">
        <a class="nav-link" href="{% url 'lista_comunicados' %}">Comunicados</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'lista_asistencias' %}">Asistencia</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">!Documentacion</a>
    </li>
    
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Configuracion SAE</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'carga_dinamica_alumnos' %}">Alumnos</a></li>
            <li><a class="dropdown-item" href="{% url 'alta_profesor' %}">Docentes</a></li>
            <li><a class="dropdown-item" href="{% url 'planilla_preceptor' %}">Planilla Preceptor</a></li>
            <li><a class="dropdown-item" href="{% url 'planilla_docente' %}">Planilla Docentes</a></li>
            <li><a class="dropdown-item" href="{% url 'alta_cargos' %}">Cargos</a></li>
            <li><a class="dropdown-item" href="{% url 'carga_comunicados' %}">Comunicados</a></li>
            <li><a class="dropdown-item" href="{% url 'gestion_especialidades' %}">Especialidades</a></li>
            <li><a class="dropdown-item" href="{% url 'gestion_cursos' %}">Cursos</a></li>
            <li><a class="dropdown-item" href="#">!Grupos</a></li>
            <li><a class="dropdown-item" href="{% url 'gestion_materias' %}">Materias</a></li>
            <li><a class="dropdown-item" href="{% url 'gestion_turnos' %}">Turnos</a></li>
            <li><a class="dropdown-item" href="{% url 'gestion_aulas' %}">Aulas</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Respaldos</a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="{% url 'importar_alumnos' %}">Importar Alumnos</a></li>
            
        </ul>
    </li>
</ul>