<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'home' %}">
            <i class="fa-solid fa-briefcase me-1"></i> Panel de Cargos
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'lista_cargos' %}">
            <i class="fa-solid fa-user-tie me-1"></i> Personal y Cargos
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'gestion_tipo_cargo' %}">
            <i class="fa-solid fa-gears me-1"></i> Tipos de Cargo
        </a>
    </li>
</ul>
